<style type="text/css">

  .ruby-prof-rails-button {
    z-index: 2147483643;
    position: fixed;
    top: 0px;
    left: 0px;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 0px 5px 5px 0;
    line-height: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 10px;
    background: #d9534f;
    border-color: #d43f3a;
    padding: 2px 5px;
    text-decoration: none;
  }

  .ruby-prof-rails-button:hover {
    background: #c9302c;
    border-color: #ac2925;
    color: #ffffff;
    text-decoration: none;
  }

</style>

<a href="#" target="_blank" class="ruby-prof-rails-button">
  Ruby-Prof Rails: Profiling...
</a>